$site-header-height: 249px;
$site-menu-width: 200px;

$container-md-width: 769px;
$container-lg-width: 980px;
$container-xl-width: 1220px;

// Breakpoints
$screen-xs-min: 480px;
$screen-sm-min: 700px;
$screen-md-min: $container-md-width + $site-menu-width;
$screen-lg-min: $container-lg-width + $site-menu-width;
$screen-xl-min: $container-xl-width + $site-menu-width;
$screen-xs-max: ($screen-sm-min -1px);
$screen-sm-max: ($screen-md-min - 1px);
$screen-md-max: ($screen-lg-min - 1px);
