---
---
<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <script>
      document.documentElement.className = document
        .documentElement
        .className
        .replace(/\bno-js\b/g, '') + 'has-js ';
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body id="top" itemscope itemtype="http://schema.org/WebPage">

    {# Welcome Section #}
    <section class="welcome">
      <h1>Welcome!</h1>
      <h2>I am Arturs Timofejevs a <span class="full-stack-badge">full stack</span> developer</h2>
      <p>I love building things that are both beautiful and functional on the front end, simple and effective on the back end. Welcome to my personal portfolio page, scroll down to see what I am up to and you can download my resume <a href="">here</a>.</p>
    </section>

    <div class="divider"></div>

    <section class="about">
      <h2>About</h2>
      <p>I was originally born in Liepaja, Latvia. Moved to Ireland 2005 where I continued my pre school education. From a very young age I had a computer and have been fascinated by them.
      Naturally I was going to persue anything to do with computers, so in 2014 I had a taste test in college to see which branch of computing I would like to specialize in where I fell in love with 
      everything to do with web development. I now work full time as a proffesional web developer for a small software company.</p>

      <p>I enjoy many different hobbies outside of my passion for web development, such as hiking, lifting weights, gaming and reading books 
      to name a few. I consider my self to be open minded and welcome to any new ideas or experiances.</p>
    </section>

    <div class="divider"></div>

    <section class="experiance">
      <h2>Experiance</h2>
    </section>

    {# <div class="site-wrapper">

      {% include "./global/nav.njk" %}

      <div class="layout--main">
        {{content|safe}}

      </div>

    </div> #}

    {# <section class="section">
      <div class="container">
        {% include "./global/nav.njk" %}
        {{content | safe}}
        {% include "./global/footer.njk" %}
      </div>
    </section> #}

    <script src="/scripts/index.js"></script>
  </body>
</html>